// EXTENSIONS

// Silent classes

// https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
%grid{
    list-style:none;                /* [1] */
    margin:0;                       /* [2] */
    padding:0;                      /* [2] */
    margin-left:0;           /* [3] */
    letter-spacing:-0.31em;         /* [4] */
    word-spacing:-0.43em;           /* [4] */
}

%grid_item{
	@include inline-block;
	@include box-sizing(border-box);
    padding-left:0;           /* [2] */
    vertical-align:top;             /* [3] */
    letter-spacing:normal;          /* [4] */
    word-spacing:normal;            /* [4] */
}

%interactive {
	@include box-shadow(inset 0 1px $interactive-highlight-color);
	@include text-shadow(0 1px $interactive-highlight-color);
	@include background-image(linear-gradient($color-2, $color-3));
	background-color: $interactive-background-color;
	border: 1px solid $border-color;
	color: $interactive-color;
	cursor: pointer;
	
	&:hover {
		@include background-image(none);
		background-color: $hover-background-color;
	}
	
	&:active {
		color: $selected-color;
	}
}

%selected {
	@include box-shadow(inset 0 1px $selected-highlight-color);
	@include text-shadow(0 1px $selected-highlight-color);
	background-color: $selected-background-color;
	border: 1px solid $border-color;
	color: $selected-color;
}

/*
 * Create non-floating lists,
 * able to be left/center/right aligned
 * without needing to remove line breaks in markup.
 *
 * https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
 */
%inline-list {
	letter-spacing: -0.31em;
	word-spacing: -0.43em;
	
	> * {
		@include inline-block;
		@include box-sizing(border-box);
		vertical-align: top;
		letter-spacing: normal;
		word-spacing: normal;
	}
}

.btn {
	$color: $violet;
	$dark: shade($color, 30%);
	$light: tint($color, 60%);
	$shade: rgba(black, 0.25);
	@include border-radius;
	@include inline-block;
	@include box-shadow(inset 0 0 0 1px $dark, inset 0 1px 0 1px $light, 0 1px 0 0 $shade);
	background-color: $color;
	border: none;
	color: contrast-color($color, #000, #FFF, 60%);
	padding: 0 0.5em;
	text-decoration: none;
	text-shadow: 0 1px $dark;                                                        
	vertical-align: baseline;
	
	&.disabled {
		@include box-shadow(none);
		background-color: $light;
		cursor: default;
		text-shadow: none;
	}
}

%search {
	@include border-left-radius;
	@include box-shadow(0 2px 2px #DDD inset);
	@include box-sizing(border-box);
	background-color: #FFF;
	border-color: #BBB #CCC #CCC;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	font-size: 16px;
	margin: 0;
	padding: 5px;
	width: 100%;
}

%plain-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	> li {
		margin: 0;
		padding: 0;
	}
}

%favorite { // input[type="checkbox"]
	$color: $violet;
	$dark: shade($color, 30%);
	$light: tint($color, 60%);

	display: none;
	
	& + label {
		border: 1px solid $light;
		color: $dark;
		
		&:hover {
			background-color: $light;
			cursor: pointer;
			
			&:before {
				@include text-shadow(none);
				color: #FFF;
			}
		}
		
		&:before {
			@include text-shadow;
			content: '\2606';
			color: $light;
			margin-right: 0.5em;
		}
	}
	
	&:checked + label {
		background-color: $light;
		
		&:hover:before {
			@include text-shadow;
		}
		
		&:before {
			content: '\2605';
			color: $color;
		}
	}
}
