@import 'main';


html {
	//@include baseline-grid-background;
	background-color: $mud;
	color: #222;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body {

	> section {
		@include container;
		//@include susy-grid-background;
		
		> nav {
			@include span-columns(3);
			@include box-sizing(border-box);
			background-color: white;
			padding: 1em;
			
			> input {
				@include box-sizing(border-box);
				width: 100%;
			}
		}
		
		> div {
			@include span-columns(9 omega);
		}
	}
}

.facet {
	//position: relative;
	
	h3 {
		@include adjust-font-size-to($r, 1);
		@include border-top-radius;
		@extend %interactive;
		margin: 1em 0 0;
		padding: 0 0.5em;
		
		&:before {
			content: 'select';
			float: right;
			font-size: em($s);
			font-style: italic;
			font-weight: normal;
		}
		
		& + label {
			border-top: 1px solid transparent;
		}
	}
	
	label {
		border-bottom: 1px solid $color-2;
		color: $color-6;
		cursor: pointer;
		display: block;
		padding-left: 0.5em;
		
		&:hover {
			background-color: $color-2;
			color: $color-7;
			
			&:before {
				@include box-shadow(0 -1px $color-3, 0 1px $color-3);
				background-color: $color-3;
				color: white;
			}
		}
		
		&:before {
			color: $border-color;
			content: '\2715';
			float: right;
			padding: 0 0.5em;
		}
		
		&.active {
			background-color: $color-2;
		}
	}
	
	small {
		color: $color-6;
		float: right;
		margin-right: 1em;
		text-align: right;
	}
	
	input {
		display: none;
	}
}

.modal .facet-group {
	
	> div {
		@include column-count(2);
		@extend .facet;
		//width: 100%;
		
		label {
			
			&:hover {
				@include box-shadow(0 -1px $color-3);
				background-color: $color-3;
				border-color: $color-3;
			}
			
			&:before {
				display: none;
			}
			
			&.active:hover {
				//background-color: $color-3;
			}
			
			&.active {
				//background-color: blue;
			}
		}
		
		input {
			display: inline-block;
			margin-right: 0.5em;
		}
	}
}

ol {
	list-style-type: none;
}

table {
	margin: 0 2em;
}

article {
	@extend %grid-item;
	padding: 2em 5% 0 5%;
	margin-left: 30%;
	max-width: 50em;
	width: 65%;
}

h1 {
	line-height: 1.2;
}

.empty-state { // p
	@include text-shadow;
	color: $color-5;
	font-size: em($l);
	font-style: italic;
}
