@import 'main';

@-webkit-keyframes added {
	0%, 100% {
		top: 0;
	}
	50% {
		top: 0.4em;
	}
}

@-webkit-keyframes removed {
	0%, 100% {
		left: 0;
	}
	25% {
		left: -0.25em;
	}
	75% {
		left: 0.25em;
	}
}

.bookmarkAdded {
	position: relative;
	-webkit-animation: added 0.25s 1 ease-out;
}

.bookmarkRemoved {
	position: relative;
	-webkit-animation: removed 0.25s 2 ease-out;
}

html {
	//@include baseline-grid-background;
	background-color: $color-1;
	color: #222;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body > header {
	background-color: $color-2;
	line-height: 3.5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	
	> div {
		@include container;
		@extend %grid;
		position: relative;
		
		> * {
			@extend %grid-item;
		}
	}
	
	.brand { // a
		@include text-shadow;
		background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="50px" height="60px" viewBox="0 0 50 60" enable-background="new 0 0 50 60" xml:space="preserve">
	<polygon style="fill:#{$crimson};" points="15,42 18,42 18,50 32,50 32,42 35,42 40,37 40,20 42,20 42,14 32,14 32,10 32,10 18,10 
		18,14 8,14 8,20 10,20 10,37"/>
	<polyline style="fill:#{white};" points="30,12 30,14 28,14 28,44 30,44 30,48 20,48 20,44 22,44 22,14 20,14 20,12 30,12"/>
	<polyline style="fill:#{white};" points="40,16 40,18 38,18 38,36 34,40 29,40 29,34 32,34 32,18 30,18 30,16 40,16"/>
	<polyline style="fill:#{white};" points="20,16 20,18 18,18 18,34 21,34 21,40 16,40 12,36 12,18 10,18 10,16 20,16"/>
				</svg>');
		background-position: 0 50%;
		background-repeat: no-repeat;
		display: inline-block;
		//background-color: $color-;
		color: $crimson;
		font-size: em($m);
		font-weight: bold;
		padding: 0 1em 0 50px;
		position: relative;
		text-decoration: none;
		vertical-align: top;
		
		&:hover {
			background-color: $color-3;
		}
	}
	
	.notifications { // a
		@include border-radius(100% 0 100% 100%);
		@include rotate(45deg);
		@include text-shadow(0 -1px shade($violet, 40%));
		background-color: $violet;
		color: #fff;
		line-height: 2;
		margin: 0 1em;
		min-width: 2em;
		position: relative;
		text-align: center;
		text-decoration: none;
		z-index: 2;
		vertical-align: baseline;
		
		&:hover {
			background-color: shade($violet, 10%);
		}
		
		span {
			@include rotate(-45deg);
			display: block;
		}
	}
	
	.avatar {
		height: 40px;
		margin-top: -20px;
		position: absolute;
		top: 50%;
		width: 40px;
	}
	
	.account { // div
		line-height: 1;
		margin-left: px(1) + 40px;
		
		> a {
			color: $color-7;
			line-height: 2;
			text-decoration: none;
		}
		
		p {
			font-size: em($s);
			margin: 0;
			
			a {
				color: $color-6;
			}
		}
	}
}

#courseSearch { // section
	
	header {
		$color: $violet;
		$dark: shade($color, 30%);
		$light: tint($color, 60%);
		
		@include box-shadow(0 4px $color-2, 0 5px $color-3);
		background-color: #fff;
		line-height: 3.5em;
		position: fixed;
		top: 3.5em;
		width: 100%;
		z-index: 1;
		
		* {
			@include box-sizing(border-box);
		}
		
		> div {
			@include container;
			//@include susy-grid-background;
		}
		
		h1 {
			@include span-columns(3);
			color: $color-5;
			font-size: em($m);
			margin: 0;
			padding-left: 1rem;
		}
		
		nav {
			@extend %grid;
			@include span-columns(9 omega);
		}
		
		a {
			@extend %grid-item;
			color: $color;
			font-weight: bold;
			padding: 0 1rem;
			text-decoration: none;
			
			&:hover {
				@include box-shadow(0 4px $light, 0 5px $color);
			}
			
			&:active {
				color: $dark;
			}
			
			&.active {
				@include box-shadow(0 4px $color, 0 5px $dark);
				color: $dark;
			}
		}
	}
	
	> div {
		@include container;
		background-color: $color-1;
		padding-bottom: 1em;
		padding-top: px(7) + 5px;
	}
}

.search {
	position: relative;
}

.query { // nav
	@include span-columns(9 omega);
	@include box-sizing(border-box);
	padding-right: 1em;
	margin-top: 3em;
	
	h1 {
		@include span-columns(3);
		color: $color-5;
		font-size: em($m);
		left: 0;
		margin-top: 0;
		position: absolute;
		text-align: right;
	}
	
	h2 {
		color: #000;
		font-size: em($r);
		font-weight: normal;
		font-style: italic;
		margin: 0.5em 0 0 0.5em;
	}
	
	small {
		color: $color-6;
		font-style: normal;
	}
	
	.error { // p
		$color: red;
		$light: tint($color, 90%);
		$dark: shade($color, 10%);
		@include border-radius;
		@include text-shadow;
		background-color: $light;
		color: $dark;
		margin: 1em 0;
		padding: 0.5em 1em;
	}
	
	> div:not(.searchBox) > div {
		border-bottom: 1px solid $color-2;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}
	
	label {
		color: $color-6;
		display: block;
		padding: 0 0.5em;
		
		&, > * {
			cursor: pointer;
		}
		
		&.active {
			background-color: $cream;
			font-weight: bold;
		}
		
		&:hover {
			background-color: $color-2;
		}
	}
	
	.child {
		margin-left: 1.5em;
	}
	
	input[type="checkbox"], input[type="radio"] {
		margin-right: 0.5em;
	}
	
	hr {
		border: 1px solid $color-2;
		border-width: 0 0 1px;
		margin: 0.5em auto 0.5em 0;
		width: 10em;
	}
	
	details {
		margin: 1em 0;
		
		&[open] {
			@include border-radius;
			background-color: $color-2;
			border: 1px solid $color-3;
			padding: 0 1em 1em;
			
			summary {
				//@include border-bottom-right-radius(0);
				background-color: $cream;
			}
		}
	}
	
	summary { // Examples
		//@include border-right-radius;
		@include border-radius;
		@include box-sizing(border-box);
		background-color: $color-2;
		border: 1px solid $color-3;
		color: $color-6;
		cursor: pointer;
		display: inline-block;
		font-size: em($s);
		line-height: 3rem;
		padding: 0 0.5em;
		position: absolute;
		text-align: center;
		text-decoration: none;
		top: 0rem;
		right: 0rem;
		width: 6rem;
	}
	
	dl {
		margin: 0;
	}
	
	dt {
		color: $color-5;
		font-size: em($r);
		margin-top: 1em;
	}
	
	dd {
		margin: 0.5em 0 0;
		
		a {
			@include border-radius;
			@include box-shadow(inset 0 1px 2px $color-3);
			background-color: #fff;
			border: 1px solid $color-3;
			color: $color-7;
			display: block;
			font-size: em($r);
			line-height: 2;
			padding: 0 0 0 0.5em;
			position: relative;
			text-decoration: none;
			
			$color: $violet;
			$light: tint($color, 60%);
				
			&::after {

				
				background-color: $light;
				color: #fff;
				content: "try this search \2192";
				float: right;
				font-size: em($s);
				line-height: em($m) * 2;
				padding: 0 1em;
			}
			
			&:hover {
				border-color: $color-4;
				
				&::after {
					background-color: $color;
				}
			}
		}
	}
	
	input[type="text"] {
		@include border-left-radius;
		@include box-shadow(inset 0 1px 2px $color-3);
		@include box-sizing(border-box);
		border: 1px solid $color-3;
		border-right-width: 0;
		color: $color-6;
		display: block;
		font-size: em($l);
		height: px(3) + 2px; // Adjust for Firefox mishandling <input> line-height
		line-height: 3rem;
		padding: 0 0.5em;
		width: 100%;
		
		&:focus {
			border-color: $color-5;
		}
	}

	button {
		@extend .btn;
		font-size: em($m);
		line-height: 2;
		padding: 0 1em;
		
		@include border-radius(0);
		@include border-right-radius;
		@include box-sizing(border-box);
		//border: 1px solid transparent;
		line-height: 3rem;
		padding: 1px 0.5em;
		position: absolute;
		top: 0;
		right: 7rem;
		width: 4rem;
	}
	
	.searchBox { // div
		margin: 2em 0 0;
		position: relative;
		
		> div {
			padding: 0 11em 0em 0;
			position: relative;
		}
	}
}

.search-results { // nav
	@include span-columns(3);

	& + div {
		@include span-columns(9 omega);
	}
	
	> div {
		@include box-shadow(0 0 0 1px $color-2);
		@include box-sizing(border-box);
		background-color: #fff;
		margin-bottom: 1em;
		padding: 1em 1em 0;
		
		> div {
			padding-bottom: 1em;
		}
	}
	
	.searchbox {
		padding: 0 3em 0 0;
		position: relative;
	}
	
	button {
		@extend .btn;
		@include border-radius(0);
		@include border-right-radius;
		line-height: 2;
		padding: 2px 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 3em;
	}
	
	h2 {
		display: block;
		color: $color-4;
		font-size: em($s);
		font-weight: bold;
		margin: 0 0 1em;
		line-height: 1;
		text-transform: uppercase;
	}
	
	p {
		border: 1px solid $color-2;
		border-width: 0 0 1px;
		color: $color-7;
		margin: 0;
		padding: 0;
	}
	
	h2 + p {
		border-width: 1px 0;
	}
	
	input {
		@include border-left-radius;
		@include box-shadow(inset 0 1px 2px $color-3);
		@include box-sizing(border-box);
		border: 1px solid $border-color;
		color: $color-6;
		padding: 0.5em;
		margin: 0 0 1em;
		width: 100%;
	}
	
	a {
		@include inline-block;
		color: $violet;
		font-size: em($s);
		margin: 0.5em 0;
	}
		
	h3 {
		@include adjust-font-size-to($r, 1);
		@include border-top-radius;
		@extend %interactive;
		margin: 0em 0 0;
		padding: 0 0.5em;
		
		&::before {
			content: 'select';
			float: right;
			font-size: em($s);
			font-style: italic;
			font-weight: normal;
		}
		
		& + label {
			border-top: 1px solid transparent;
		}
	}
	
	label {
		border-bottom: 1px solid $color-2;
		color: $color-6;
		cursor: pointer;
		display: block;
		padding-left: 0.5em;
		
		&:hover {
			background-color: $color-2;
			color: $color-7;
			
			&::before {
				@include box-shadow(0 -1px $color-3, 0 1px $color-3);
				background-color: $color-3;
				color: white;
			}
		}
		
		&::before {
			color: $border-color;
			content: '\2715';
			float: right;
			padding: 0 0.5em;
		}
		
		&.active {
			background-color: $color-2;
		}
		
		input {
			display: none;
		}
	}
	
	small {
		color: $color-6;
		float: right;
		margin-right: 1em;
		text-align: right;
	}
}

.bookmarks {
	@include span-columns(9 omega);
}

.modal .facet-group {
	
	> div {
		@include column-count(2);
		@extend .facet;
		
		label {
			cursor: pointer;
			display: block;
			
			&.active {
				background-color: $cream;
			}
			
			&:hover {
				background-color: $color-2;
			}
		}
		
		input {
			display: inline-block;
			margin: 0 0.5em;
		}
	}
}

.empty {
	$color: $violet;
	$dark: shade($color, 30%);
	$light: tint($color, 60%);
	border-bottom: 1px solid $color-2;
	
	h1 {
		color: $color-4;
		margin-top: 2em;
	}
	
	p {
		color: $color-5;
		font-size: em($m);
		margin-bottom: 2em;
	}
	
	a {
		color: $color;

		&:hover {
			color: $dark;
		}
	}
	
	.bookmark::before {
		content: '\2605';
		color: $light;
		padding: 0 0.25em;
	}
}

.course {
	
	> a h2:hover {
		border-color: $color-3;
	}
	
	> div {
		@include border-bottom-radius;
		border: 1px solid $color-2;
		border-top-width: 0;
		padding: 1em;
		
		> div {
			float: right;
			
			label {
				@extend %bookmark;
			}
			
			a {
				$color: $violet;
				$dark: shade($color, 30%);
				$light: tint($color, 60%);
				
				@include border-radius;
				@include inline-block;
				border: 1px solid $light;
				color: $dark;
				font-size: em($s);
				padding: 0 0.5em;
				text-decoration: none;
				vertical-align: top;
					
				&:hover {
					background-color: $light;
					cursor: pointer;
					
					&::before {
						@include text-shadow(none);
						color: #FFF;
					}
				}
				
				&::before {
					@include text-shadow;
					content: '+';
					color: $light;
					font-weight: bold;
					margin-right: 0.25em;
					position: relative;
					top: -1px; // Vertical align does seem quite right
					vertical-align: top;
				}
			}
			
			> * + * {
				margin-left: 0.5em;
			}
		}
	}
	
	h2 {
		@extend %grid;
		@include border-top-radius;
		background-color: #fff;
		border: 1px solid $color-2;
		font-size: em($r);
		font-weight: normal;
		line-height: 2;
		margin: 0;
		padding-right: 6em;
		position: relative;
		
		> * {
			@extend %grid-item;
		}
		
		span:first-child { // Campus
			@include border-top-left-radius;
			@include text-shadow;
			background-color: $color-2;
			border-right: 1px solid $color-2;
			color: $color-5;
			padding: 0 0.5em;
		}
		
		strong, strong + span { // Course Number, Course Name
			color: $color-7;
			padding-left: 0.5em;
		}
		
		small { // Credits
			color: #333;
			display: block;
			font-size: em($s);
			font-weight: bold;
			line-height: 2rem;
			right: 0.5rem;
			text-align: right;
			top: 0;
			position: absolute;
			width: 5.5rem;
		}
		
		div { // Temp hack until data gets better
			display: inline;
		}
	}
	
	dl {
		@extend %grid;
		//margin: 1em;
		//letter-spacing: 0.5em * 0.62; // Renders as 1em. Odd.
	}

	dt {
		display: none;
	}
	
	dd {
		@extend %grid-item;
		@include border-radius;
		background-color: #fff;
		border: 1px solid $color-3;
		color: $color-5;
		font-size: em($s);
		font-style: normal;
		margin: 0;
		padding: 0 0.5em;
		position: relative;
		
		& + dd {
			margin-left: 0.5rem;
		}
		
		&::after {
			content: attr(data-placeholder);
			opacity: 0;
		}
		
		&.notOffered {
			border-style: dashed;
		}
		
		&.upcomingOffering {
			background-color: $cream;
		}
		
		span {
			left: 0;
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}

	p {
		font-size: em($s);
		line-height: 1.5;
		margin: 1rem 0 0 0;
	}
}

.undo {
	
	a {
		
		&:hover h2 {
			background-color: #fff;
		}
	}
	
	h2 {
		@include border-radius;
		background-color: transparent;
		
		> *, > *:first-child {
			color: $color-3;
		}
		
		small {
			color: $violet;
		}
	}
}

.results {
	
	> p {
		border-bottom: 1px solid $color-2;
		color: $color-5;
	}
	
	ol {
		list-style-type: none;
		margin: 0 1em 0 0;
		padding: 0;
	}
	
	li + li {
		margin-top: 1em;
	}
}

%bookmark { // label
	$color: $violet;
	$dark: shade($color, 30%);
	$light: tint($color, 60%);
	
	@include border-radius;
	@include inline-block;
	border: 1px solid $light;
	color: $dark;
	font-size: em($s);
	padding: 0 0.5em;
	vertical-align: top;
	
	input {
		display: none;
	}
		
	&:hover {
		background-color: $light;
		cursor: pointer;
		
		&::before {
			@include text-shadow(none);
			color: #FFF;
		}
	}
	
	&::before {
		@include text-shadow;
		content: '\2606';
		color: $light;
		//margin-right: 0.25em;
	}
	
	&.active {
		background-color: $light;
		
		&:hover::before {
			@include text-shadow;
		}
		
		&::before {
			content: '\2605';
			color: $color;
		}
	}
}