<nav class="query">

	<div ng-repeat="category in search.criteria.facets" ng-switch="category.select">
		<h1 ui-if="category.label != undefined">{{category.label}}</h1>
		
		<p ng-repeat="alert in category.alerts | filter:{ show: true }" ng-class="{ error: alert.type == 'error' }">{{alert.message}}</p>
		
		<div ng-switch-when="true">
		
			<select ng-model="category.value" ng-init="selectOne(category)" ng-change="selectOne(category); checkFacets()" ng-options="f.id as f.label group by f.group for f in selectize(category.facets)"></select>
			
		</div>
		
		<div ng-switch-default>
		
			<div ng-repeat="facetA in category.facets">
		
				<div ng-switch="category.radio">
					<div ng-switch-when="true">
						<label ng-init="selectOne(category)" ng-class="{ active: category.value == facetA.id }">
							<input type="radio" ng-model="category.value" value="{{facetA.id}}" name="facet-{{facetA.id}}" ng-click="selectOne(category); checkFacets()" />
							{{facetA.label}}
						</label>
					</div>
					<div ng-switch-default>
						<label ng-class="{ active: facetA.value }" ui-if="!facetA.exclude">
							<input type="checkbox" ng-model="facetA.value" ng-click="checkFacets()" />
							{{facetA.label}}
						</label>
					</div>
				</div>
				<div ui-if="category.value == facetA.id" class="child">
					<div ng-repeat="facetB in facetA.facets"
						ng-init="hasValue = facetB.value != undefined;
								hasLabel = facetB.label != undefined && facetB.label.length > 0;
								hasTitle = facetB.title != undefined">
						<label ui-if="hasValue && hasLabel" ng-class="{ active: facetB.value }">
							<input type="checkbox" ng-model="facetB.value" ng-click="checkFacets()" />
							{{facetB.label}}
						</label>
						<h2 ui-if="!hasValue && hasLabel">{{facetB.label}} <small ui-if="hasTitle">({{facetB.title}})</small></h2>
						<hr ui-if="!hasValue && !hasLabel && !$first" />
						<div ng-repeat="facetC in facetB.facets">
							<label ui-if="!facetC.exclude" ng-class="{ active: facetC.value }">
								<input type="checkbox" ng-model="facetC.value" ng-click="checkFacets()" />
								{{facetC.label}}
							</label>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>

	</div>
	<div class="searchBox">

		<div>
			<input type="text" placeholder="{{search.placeholder}}" ng-model="search.query" ui-keydown="{ 'enter': 'searchCourses($event)' }" />
		</div>
		
		<button ng-click="searchCourses()">Go</button>
		
		<details>
			<summary>Examples</summary>
			<dl ng-repeat="group in search.examples">
				<dt>{{group.label}}</dt>
				<dd ng-repeat="example in group.examples">
					<a href ng-click="applySearchExample(example)">{{example}}</a>
				</dd>
			</dl>
		</details>
		
	</div>
</nav>