<div ng-switch="0" class="search">

	<nav ng-switch-when="0" class="initial-search">
		<div ng-repeat="category in initSearch" ng-switch="category.selection">
			<h1>{{category.label}}</h1>
			<div ng-switch-when="single">
				<select>
					<option ng-repeat="facet in category.facets">{{facet.label}}</option>
					<optgroup ng-repeat="facetGroup in category.groups" label="{{facetGroup.label}}">
						<option ng-repeat="facet in facetGroup.facets">{{facet.label}}</option>
					</optgroup>
				</select>
			</div>
			<div ng-switch-default>
			
				<div ng-repeat="facetA in category.facets"
					ng-init="hasExpanded = facetA.expanded != undefined">
			
					<label ng-class="{ active: facetA.checked }">
						<input type="checkbox" ng-model="facetA.checked" />
						{{facetA.label}}
					</label>
					
					<div ui-if="!hasExpanded || !facetA.checked">
						<div ng-repeat="facetB in facetA.facets"
							ng-init="hasCheck = facetB.checked != undefined; hasLabel = facetB.label != undefined && facetB.label.length > 0">
							<label ui-if="hasCheck && hasLabel" ng-class="{ active: facetB.checked }">
								<input type="checkbox" ng-model="facetB.checked" />
								{{facetB.label}}
							</label>
							<h2 ui-if="!hasCheck && hasLabel">{{facetB.label}}</h2>
							<hr ui-if="!hasCheck && !hasLabel && !$first" />
							<div>
								<label ng-repeat="facetC in facetB.facets" ng-class="{ active: facetC.checked }" class="child">
									<input type="checkbox" ng-model="facetC.checked" />
									{{facetC.label}}
								</label>
							</div>
						</div>
					</div>
				
				</div>
			
			<!--
			
			
				<label ui-if="category.selectAll" ng-class="{ active: category.selectAll.checked, grayed: category.selectAll.grayed }">
					<input type="checkbox" ng-model="category.selectAll.checked" select-all="category" />
					{{category.selectAll.label}}
				</label>
				<label ng-repeat="facet in category.facets" ng-class="{ active: facet.checked }">
					<input type="checkbox" ng-model="facet.checked" />
					{{facet.label}}
				</label>
				<div ng-repeat="facetGroup in category.groups">
					<hr ui-if="!$first || category.selectAll"/>
					<label ng-repeat="facet in facetGroup.facets" ng-class="{ active: facet.checked }">
						<input type="checkbox" ng-model="facet.checked" />
						{{facet.label}}
					</label>
				</div>
			-->
			</div>
		</div>
		<div>
			<input type="text" placeholder="Search for course stuff" />
			<button>Search</button>
		</div>
	</nav>
	
	<div ng-switch-default>
	
		<nav class="search-results">
			
			<div>
				<label for="searchInput">Search</label>
				<input id="searchInput" ng-model="query" placeholder="Search" />
			</div>
			
			<div ng-repeat="facetGroup in facetGroups" class="facet">
				<h3 ng-click="openFacetGroupDialog(facetGroup)">{{facetGroup.label}}</h3>
				<label ng-repeat="facet in facetGroup.facets | filter:{ checked:true }">
					<input type="checkbox" ng-model="facet.checked" />
					{{facet.label}}
					<small>{{facet.count}}</small>
				</label>
			</div>
			
		</nav>
		
		<div ng-switch="course.count">
		
			<div ng-switch-when="0" class="empty">
				<h1>No results</h1>
				<p>Try widening your search or <a href="#/search">start over</a>.</p>
			</div>
	
			<div ng-switch-default class="results">
			
				<p><span ng-show="numberOfPages > 1">Page {{currentPage}} of </span>{{courses.count}}
					<span ng-pluralize count="courses.count" when="{ 'one': 'result', 'other': 'results' }"></span>
				</p>
				
				<ol>
					<li ng-repeat="course in courses.results">
						<div ng-include="'partials/course.item.html'"></div>
					</li>
				</ol>
			
				<pagination boundary-links="true" num-pages="numberOfPages" current-page="currentPage" max-size="maxPageSize"></pagination>
			
			</div>
			
		</div>
		
	</div>

</div>