<div class="course" id="{{course.id}}">
	<a ng-href="{{course.url}}">
		<h2>
			<span title="{{course.campus.title}}">{{course.campus.label}}</span>
			<strong>{{course.code}}</strong>
			<span>{{course.label}}</span>
			<small>
				<span ui-if="course.credits.min != course.credits.max">{{course.credits.min}}&ndash;</span>{{course.credits.max}}
				<span ng-pluralize count="course.credits.max" when="{ 'one': 'credit', 'other': 'credits' }"></span>
			</small>
		</h2>
	</a>
	<div>
		<div>
			<label ng-class="{ active: course.bookmarked }" ng-switch="course.bookmarked">
				<input type="checkbox" ng-model="course.bookmarked" ng-change="bookmarks.undo()" />
				<span ng-switch-when="true" title="Undo bookmark">Bookmarked</span>
				<span ng-switch-default title="Bookmark">Bookmark</span>
			</label>
			<a>Add to planner</a>
		</div>
		<dl>
			<dt>Offered</dt>
			<dd ng-repeat="offering in course.offering"
				data-placeholder="{{offering.term}} {{offering.year}}"
				ng-class="{ notOffered: offering.scheduled == false && offering.typical == false, upcomingOffering: offering.scheduled == true }">
				<span ui-if="!offering.scheduled && !offering.typical"></span>
				<span ui-if="!offering.scheduled && offering.typical">{{offering.term}}</span>
				<span ui-if="offering.scheduled">{{offering.term}} {{offering.year}}</span>
			</dd>
		</dl>
		<p ui-if="course.description != null">{{course.description}}</p>
		<div ui-if="course.bulletinDescription != null && (showExtras || (!showExtras && course.description == null ))">
			<h3>Bulletin Description</h3>
			<p>{{course.bulletinDescription}}</p>
		</div>
		<div ui-if="showExtras && course.prerequistes">
			<h3>Prerequistes</h3>
			<p>{{course.prerequistes}}</p>
		</div>
		<div ui-if="showExtras && course.corequistes">
			<h3>Corequistes</h3>
			<p>{{course.corequistes}}</p>
		</div>
		<div ui-if="showExtra && showcourse.typicallyOffered">
			<h3>Typically offered</h3>
			<p>{{course.typicallyOffered}}</p>
		</div>
	</div>
</div>