<div ng-switch="bookmarks.count" class="bookmarks">

	<div ng-switch-when="0" class="empty">
		<h1>No bookmarks</h1>
		<p>Try <a href="#/search">searching</a> and <span class="bookmark">bookmarking</span> courses of interest.</p>
	</div>
	
	<div ng-switch-default class="results">
	
		<div class="pager">
			<p><span ng-show="numberOfPages > 1">Page {{currentPage}} of </span>{{bookmarks.active}}
				<span ng-pluralize count="bookmarks.active" when="{ 'one': 'bookmark', 'other': 'bookmarks' }"></span>
			</p>
		</div>
		
		<ol>
			<li ng-repeat="course in bookmarks.results | orderBy:'-_bookmark'" ng-switch="course.bookmarked">
			
				<div ng-switch-when="false" class="course undo">
					<a ng-click="bookmarks.restore(course)" title="Restore bookmark" href>
						<h2>
								<span>{{course.campus}}</span>
								<strong>{{course.subject}}</strong>
								<span>{{course.title}}</span>
								<small>Undo</small>
						</h2>
					</a>
				</div>
				
				<div ng-switch-default ng-include="'partials/course.item.html'"></div>
				
			</li>
		</ol>
	
		<pagination boundary-links="true" num-pages="numberOfPages" current-page="currentPage" max-size="maxPageSize"></pagination>
	
	</div>
	
</div>