<header>
	<h1>Courses</h1>
	<nav>
		<a href="#/search">Search</a>
		<a href="#/bookmarks">Bookmarks</a>
		<a href="#/planned">Planned</a>
	</nav>
</header>

<nav id="search">
	
	<div>
		<label for="searchInput">Search</label>
		<input id="searchInput" ng-model="query" placeholder="Search" />
	</div>
	
	<div ng-repeat="facetGroup in facetGroups" class="facet">
		<h3 ng-click="openFacetGroupDialog(facetGroup)">{{facetGroup.label}}</h3>
		<label ng-repeat="facet in facetGroup.facets | filter:{ checked:true }">
			<input type="checkbox" ng-model="facet.checked" />
			{{facet.label}}
			<small>{{facet.count}}</small>
		</label>
	</div>
	
</nav>

<div>

	<p>Page {{currentPage}} of {{results.iTotalRecords}}
		<span ng-pluralize count="results.iTotalRecords" when="{ 'one':'result', 'other':'results' }"></span>
	</p>

	<ol class="results">
		<li ng-repeat="r in results.aaData">
			<h2>
				<span>{{r[0]}}</span>
				<strong>{{r[1]}}</strong>
				<span ng-bind-html-unsafe="r[2]"></span>
				<small>{{r[3]}} credits</small>
			</h2>
			<div>
				<label ng-class="{ active: r.bookmarked }" ng-switch on="r.bookmarked">
					<input type="checkbox" ng-model="r.bookmarked" />
					<span ng-switch-when="true" title="Undo bookmark">Bookmarked</span>
					<span ng-switch-default title="Bookmark">Bookmark</span>
				</label>
				<a>Add to planner</a>
			</div>
			<dl>
				<dt>Offered</dt>
				<dd data-placeholder="2013">Fall</dd>
				<dd>Spring 2014</dd>
				<dd data-placeholder="Summer 2014" data-not-offered></dd>
			</dl>
			<p>An exploration of the relationships among musics of West and Central African people and their descendants in the United States, Latin America, and the Caribbean. Emphasis placed on the conceptual and aesthetic continuities between musical expression in Old and New World contexts—a uniformity which exists because of shared African cultural ancestry. Credit given for only one of AAAD A112, FOLK E112, or FOLK F112.</p>
		</li>
	</ol>
	
	<pagination boundary-links="true" num-pages="numberOfPages" current-page="currentPage" max-size="maxPageSize"></pagination>

</div>
<!--
	
	
	<table>
		<tr ng-repeat="r in results.aaData">
			<td>{{r[0]}}</td>
			<td>{{r[1]}}</td>
			<td ng-bind-html-unsafe="r[2]"></td>
			<td>{{r[3]}}</td>
			<td ng-bind-html-unsafe="r[4]"></td>
			<td ng-bind-html-unsafe="r[5]"></td>
			<td ng-bind-html-unsafe="r[6]"></td>
		</tr>
	</table>
	
	<ol class="results">
		<li ng-repeat="r in results.aaData">
			<h2>
				<strong>{{r[1]}}</strong>
				<span ng-bind-html-unsafe="r[2]"></span>
			</h2>
			<small>{{r[0]}}</small>
			<p>An exploration of the relationships among musics of West and Central African people and their descendants in the United States, Latin America, and the Caribbean. Emphasis placed on the conceptual and aesthetic continuities between musical expression in Old and New World contexts—a uniformity which exists because of shared African cultural ancestry. Credit given for only one of AAAD A112, FOLK E112, or FOLK F112.</p>
		</li>
	</ol>
		
		<a href="#" onclick="openMenu('edu_iu_sis_arm_cs_api_CourseSearchIndex_030685_1_detail','course_quick_detail',null,event,'#edu_iu_sis_arm_cs_api_CourseSearchIndex_030685_1_detail_anchor','myplan-quick-detail',{tail:{align:'middle'},align:'middle',position:'top'},false)" target="_self" title="Introduction to Algebra" class="myplan-text-ellipsis">Introduction to Algebra</a>
	
</div>
-->