<div class="course" id="{{course.id}}">
	<a ng-href="{{course.url}}">
		<h2>
			<span>{{course.campus}}</span>
			<strong>{{course.code}}</strong>
			<span>{{course.label}}</span>
			<small>
				<span ui-if="course.credits.min">{{course.credits.min}}&ndash;</span>{{course.credits.value}}
				<span ng-pluralize count="course.credits.value" when="{ 'one': 'credit', 'other': 'credits' }"></span>
			</small>
		</h2>
	</a>
	<div>
		<div>
			<label ng-class="{ active: course.bookmarked }" ng-switch="course.bookmarked">
				<input type="checkbox" ng-model="course.bookmarked" ng-change="bookmarks.undo()" />
				<span ng-switch-when="true" title="Undo bookmark">Bookmarked</span>
				<span ng-switch-default title="Bookmark">Bookmark</span>
			</label>
			<a>Add to planner</a>
		</div>
		<dl>
			<dt>Offered</dt>
			<dd ng-repeat="offering in course.offering"
				data-placeholder="{{offering.term}} {{offering.year}}"
				ng-class="{ notOffered: offering.offering == 0, upcomingOffering: offering.offering == 2 }"
				ng-switch="offering.offering">
				<span ng-switch-when="0"></span>
				<span ng-switch-when="1">{{offering.term}}</span>
				<span ng-switch-when="2">{{offering.term}} {{offering.year}}</span>
			</dd>
		</dl>
		<p ui-if="course.desc">{{course.desc}}</p>
	</div>
</div>